body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

div {
    padding: 10px;
}

img {
    width: 40vw;
}

div.large-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

.box1 { background-color: red; }
.box2 { background-color: green; }
.box3 { background-color: blue; }
